@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);

/* I used background images with blue pink and yellow gradiants as my only colors for the site. Wanted to keep 
it very clean so i used white and black as far as anything else goes 
I did everything that was asked for as far as colors and fonts and everything else goes if you look at all the css files*/

body {
    background-image: url(back.png);
}

#overite {
    max-width: 100rem;
}

#onePic {
    width: 30%;
    height: 30%;
    border-radius: 100px 100px 100px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

#p1 {
    font-family: 'Open Sans', sans-serif;
    padding: 30px 20px 20px 20px;
}

#p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
}

h2 {
    padding: 20px 20px 0px 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
	